.input {
    display: flex;
    align-items: flex-start;
    height: fit-content;
    position: relative;
}


.label {
    position: absolute;
    transform: translate(0, 2rem) scale(1);
    transform-origin: top left;
    transition: 300ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    font-size: 1.6rem;
    color: var(--dark-gray);
    left: 0.8rem;
    cursor: text;
}

.input:focus-within label {
    transform: translate(0, 0.8rem) scale(0.7);
}

.filled {
    transform: translate(0, 0.8rem) scale(0.7);
}

.inputField {
    width: 80%;
    border: 0;
    border-radius: 0.5rem;
    outline: none;
    padding: 0.8rem;
    padding-top: 2.5rem;
    font-size: 1.6rem;
    font-family: "Inter", sans-serif;
    color: var(--dark-gray);
}

@media (max-width: 641px) {
    .inputField {
        width: 100%;
    }
}