@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;

  --background-primary: white;
  --background-secondary: linear-gradient(220deg, oklch(68.92% 0.316 347.29 / 21.33%), oklch(78.53% 0.123 310.4 / 30.82%));
  --light: oklch(100% 0 281.75 / 98.94%);
  --dark-gray: oklch(25.27% 0.005 204.35 / 91.45%);
  --light-gray: oklch(46.32% 0 298);
  --light-violet: oklch(67.5% 0.274 318.71 / 32.97%);
  --violet: oklch(56.77% 0.274 318.71 / 70.53%);
  --dark-violet: oklch(56.77% 0.274 318.71 / 78.15%);
  --violet-blue: oklch(47.06% 0.269 281.75 / 74.87%);
  --dark-violet-blue: oklch(47.06% 0.269 281.75 / 98.1%);
  --red: oklch(60.88% 0.227 25.41 / 98.1%);
  --red-hover: oklch(60.88% 0.1535 25.41);
  --red-active: oklch(53.99% 0.1535 25.41);
  --green: oklch(82.13% 0.19 145.06);
  --green-hover: oklch(73.37% 0.19 145.06);
  --green-active: oklch(59.51% 0.19 145.06);
  --orange: oklch(73.32% 0.1608 43.41);
  --orange-hover: oklch(69.73% 0.1608 43.41);
  --orange-active: oklch(62.93% 0.1608 43.41);
  --violet-gradient: linear-gradient(100deg, oklch(56.77% 0.274 318.71 / 70.53%) -0.03%, oklch(47.06% 0.269 281.75 / 74.87%) 51.08%, oklch(56.77% 0.274 318.71 / 70.53%) 94%);
  --violet-gradient-dark: linear-gradient(100deg, oklch(46.77% 0.274 318.71 / 70.53%) -0.03%, oklch(37.06% 0.269 281.75 / 74.87%) 51.08%, oklch(46.77% 0.274 318.71 / 70.53%) 94%);
}

input:focus {
  outline: 2px solid var(--violet);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset;
  -webkit-text-fill-color: var(--dark-gray);
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px white inset;
  -webkit-text-fill-color: var(--dark-gray);
}


body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: normal;
}

.container {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 4rem;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container::-webkit-scrollbar {
  display: none;
}

@media (max-width: 641px) {
  .container {
    padding: 0;
  }
}

@media (max-width: 769px) {}

@media (max-width: 1025px) {
  .container {
    align-items: center;
  }
}

@media (max-width: 1133px) {}

@media (max-width: 1537px) {}